*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 0.7vw;
}

.box_center{
    width: 75%;
    margin: 0 auto;
    box-sizing: border-box;

}
.row{
    float: left;
    width: 100%;
}
.mb{
    margin-bottom: 30px;
}
.mb10{
    margin-bottom: 10px;
}
.demo{
    /* background-color: antiquewhite; */
    min-height: 100px;
}
.header{
    background-color: rgb(0 0 0 / 80%);;
    border: 1px green solid;
    color: #FFF;
    border-radius: 5px;
}

.header h1{
    margin: 20px;
    font-size: 1.2vw;

}
.menu{
    background-color: rgb(35 49 72);
    color: #FFF;
    border-radius: 5px;
}
.box_trai{
    float: left;
    width: 74%;
}
.box_phai{
    float: left;
    width: 24%;
    margin-left: 10px;
}
.box_title{
    color: #333;
    padding: 10px;
    background-color: #999;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px #CCC solid;

}
.box_content{
    border-left: 1px #CCC solid;
    border-right: 1px #CCC solid;
    border-bottom: 1px #CCC solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 200px;
    padding: 20px;
}
.tt{
    border-left: 1px #CCC solid;
    border-right: 1px #CCC solid;
    border-bottom: 1px #CCC solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 20px;
}
.tt td{
    display: inline-block;
    width: 100%;
}
.tt table{
    width: 100%;
}
.box_content2{
    border-left: 1px #CCC solid;
    border-right: 1px #CCC solid;
    border-bottom: 1px #CCC solid;
    background-color: #EEE;
}
.box_footer{
    padding: 10px;
    background-color: #EEE;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px #CCC solid;
    border-right: 1px #CCC solid;
    border-bottom: 1px #CCC solid;
}
.banner{
    min-height: 300px;
    width: 100%;
    /* text-align: center; */
}
.banner img{
    height: 300px;
    width: 100%;
}
.box_sp{
    float: left;
    width: 32%;
    min-height: 300px;
    border: 2px #c6c2c2 solid;
    border-radius: 5px;
    margin: 10px 7px 10px 0px;
}
.box_sp:hover{
    border: 2px solid orange;
}
.box_sp .img{
    margin-top: 25px;
    min-height: 200px;
    text-align: center;
}
.box_sp p{
    display: inline;
    line-height: 50px;
    font-size: 25px;
    color: black;
    margin-left: 15px;
}
.box_sp a{
    display: block;
    font-size: large;
    color: green;
    text-decoration: none;
    margin-left: 15px;
    margin-bottom: 10px;
}
.img img{
    height: 150px;
    width: 70%;
}
.menu ul{
    padding: 0px 15px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}.menu ul li{
    list-style: none;
    /* display: inline; */
    padding: 0px 10px;
}
.menu ul li a{
    color: #CCC;
    text-decoration: none;
    transition: 0.5s;
}
.menu ul li a:hover{
    color: #FFF;
    font-size: 0.8vw;
}


/* box tài khoản */

.form_tk{
    line-height: 150%;
}


.form_tk input[type="text"],
.form_tk input[type="email"],
.form_tk input[type="password"],
.frm_content input[type="text"]{
    width: 100%;
    border: 1px #CCC solid;
    padding: 5px 10px;
    border-radius: 5px;
}
.form_tk input[type="checkbox"]{
    border-radius: 5px;
}
.form_tk input[type="submit"],
.form_tk input[type="reset"],
.frm_content input[type="submit"],
.frm_content input[type="reset"],
.frm_content input[type="button"]{
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #FFF;
    border: 1px #CCC solid ;
}
.form_tk input[type="submit"]:hover,
.form_tk input[type="reset"]:hover,
.frm_content input[type="submit"]:hover,
.frm_content input[type="reset"]:hover,
.frm_content input[type="button"]:hover{
    background-color: #CCC;
    color: #FFF;

}
.form_tk li a{
    color: teal;
    text-decoration: none;
}
.form_tk li a:hover{
    color: rgb(4, 59, 59);
    text-decoration: underline;
}

/* menu dọc */
.menu_doc ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.menu_doc ul li{
    padding: 10px 20px;
    background-color: #FFF;
    border-bottom: 1px #dfdfdf solid;
}
.menu_doc ul li a{
    color: #1f1a1a;
    text-decoration: none;
}
.menu_doc ul li:hover{
    background-color: #dcdcdc;
}
.sear_box form{
    text-align: center;
}
.sear_box input[type="text"]{
    width: 70%;
    padding: 5px 10px;
    background-color: #FFF;
    border: 1px #CCC solid;
    border-radius: 5px;
}

.top10 img{
    width: 25%;
    height: 50px;
    float: left;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px #CCC solid;
}
.top10 a{
    color: #666;
    text-decoration: none;
    line-height: 50px;
}
.top10 a:hover{
    color: #000;
    text-decoration: underline;
}


.footer{
    background-color: rgb(31, 40, 157);
    border: 1px rgb(6, 12, 35) solid;
    color: #FFF;
    border-radius: 5px;
    padding: 20px;
}




/* Admin */

.header_admin{
    background-color: rgb(0 0 0 / 80%);;
    border: 1px #CCC solid;
    color: #FFF;
    border-radius: 5px;
    padding: 0px 20px;
}
.header_admin h1{
    font-size: 1.5vw;

}
.frm_title{
    background-color: rgb(0 0 0 / 80%);;
    border: 1px #CCC solid;
    color: #FFF;
    border-radius: 5px;
    padding: 0px 20px;
}
.frm_content{
    padding: 20px 0px;
}
.frm_ds_loai table{
    width: 100%;
    border-collapse: collapse;
}
.frm_ds_loai table th{
    /* width: 10%; */
    padding: 20px;
    background-color: #CCC;
}
/* .frm_ds_loai table th:nth-child(2){
    width: 30%;box
    background-color: #CCC;
}
.frm_ds_loai table th:nth-child(3){
    width: 40%;   
    background-color: #666;

}
.frm_ds_loai table th:nth-child(4){
    width: 20%;
    background-color: #CCC;

} */
.frm_ds_loai table td{
    padding: 10px 20px;
    border: 1px #CCC solid;
    text-align: center;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* END SLIDESHOW*/

.mr{
margin-right: 10px;
}

.spct{
text-align: center;
}
.spct img{
width: 50%;
}
.thongbao{
    color: red;
}
.binhluanform{
    height: 150px;
}
.binhluan table{
    width: 100%;
    background-color: #FFF;
   padding: 15px 15px;
}
.binhluan table td{
    padding: 5px 0px;
    text-align: center;
}
.binhluan table td:nth-child(1){
    width: 40%;
}
.binhluan table td:nth-child(2){
    text-align: center;
    width: 20%;
}
.binhluan table td:nth-child(3){
    text-align: center;
    width: 40%;
}
.cart table{
    width: 100%;
    padding: 15px 15px;
    border: 1px solid #999;
    text-align: center;
}
.cart table td{
    padding: 5px 0px;
    border: 1px solid #999;
}
.addtocart input[type="submit"]{
    border: 1px solid white;
    background-color: rgb(255, 166, 0);
    color: white;
    margin-left: 15px;
    width: 40%;
    padding: 5px 5px;
    margin-bottom: 10px;
}
.addtocart input[type="submit"]:hover{
    border: 1px solid red;
    background-color: rgb(162, 255, 0);
    color: red;
    padding: 5px 0px;
    margin-bottom: 10px;
}

